* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pagina-principal {
    background-color: #1c1917;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

header{
    height: 70px;
}

.barra-navegacion {
    background-color: #292524;
    padding: 20px 40px;
    width: 100%;
}


.contenedor-flex-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.texto-logo {
    color: #f97316;
    font-weight: bold;
    font-size: 1.25rem;
}


.lista-menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.item-menu {
    color: #d6d3d1;
    cursor: pointer;
}

.boton-contacto {
    background-color: #292524;
    color: #f97316;
    border: 2px solid #f97316;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}


main {
    display: flex;
    gap: 40px;
    padding: 40px 20px;
}


.contenedor-flex-hero {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.imagen-hero {
    width: 100%;
    height: 20rem;
}

.titulo-principal-hero {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 0;
}

.texto-hero {
    color: #a0a0a0;
    margin: 0;
}

.hero-boton {
    background-color: #ff5500;
    font-weight: bold;
    color: #292524;
    padding: 12px 28px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
}


.contenedor-flex-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tarjeta {
    display: flex;
    gap: 16px;
    background-color: #222222;
    padding: 16px;
}

.imagen-tarjeta {
    width: 220px;
    height: 100px;
}

.contenido-tarjeta {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.titulo-tarjeta {
    color: #ff5500;
    font-size: 1.1rem;
    margin: 0 0 6px 0;
}

.texto-tarjeta {
    color: #a0a0a0;
    font-size: 0.85rem;
    margin: 0;
}